@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

html, body {
     height: 100%;
}
body {
     font-family: 'Montserrat', sans-serif;
     background: url(../img/cinema.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;
}

.height-100 {
     height: 100%;
}

.bg-dark-alpha {
     background-color: rgba(0,0,0,0.2);
}
.bg-light-alpha {
     background-color: rgba(255,255,255,0.6);
}
.table.bg-light-alpha {
     background-color: rgba(255,255,255,0.7);
}

.login-form {
     width: 500px;
     border: 2px solid rgba(0, 0, 0, 0.2);
}

.radioSize {
     height: 20px !important;
     margin-left: 10px !important;
     width: 20px !important;
   }

/* estilos nav */

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #8e1e1e;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;
    text-align: center;
    
}

.sidebar a:hover{
    /*color:#fff;*/
    color: #9da39d;
    /*background-color: #0f1675; azul*/
    /*background-color: #0a4006;*/ /*verde*/
    /*background-color: black;*/
    text-decoration: none;
    border-radius: 15px;
}

h1.intro{
    color:#f90;
    font-size:180%;
    font-weight:normal;
}

#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}

#contenido2 {
    transition: margin-left .4s;
    padding: 1rem;
}

.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;   
}

#abrir {
    
}

#cerrar {
    display:none;
}

/* INTRO */

/*article{
    margin-left: 10px;
}*/

p.presentacion {
    color: white;
}
